.col-sm-6
{
    position: absolute;
    justify-content: center;
    

    max-width: 300px;
    max-height: 500px;

    margin-top: 200px;
}


.image-holder-animation
{
	-webkit-transition: .3s ease-in-out;
    transition: 1s ease-in-out;
    overflow: hidden;
}

.figure 
{
	overflow: hidden;
}

.project-card-individual 
{
    box-shadow: 10px 10px 30px 0px rgba(0,0,0,0.2);
    transition: 1s;
}

.project-card-individual figure img
{
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
    transition: 1s ease-in-out;
}

.project-card-individual figure:hover img {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}

.card-links
{
    float: left;
    width: 200px;
    height: 20px;

}

.card-links a
{
    
    padding: 10px;
}

.card-project-links
{
    max-width: 30px;
    max-height: 30px;
}


.project-card-skills-box
{
    display: inline; 
    margin-right: 10px;
    background-color: #0F5298;
    padding: 5px 20px;
    color: white;
    border-radius: 25px ;
    justify-content: center;
    font-size: 15px;
}

.project-card-text-description
{
    color: gray;
}

.project-card-logo
{
    max-height: 250px;
    background-position: center;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 770px) 
{
    .project-card-skills-box
    {
        padding: 5px 10px;
        font-size: 10px;
    }
}

@media only screen and (max-width: 574px) 
{
    .col-sm-6
    {
        margin: 0 auto;
        margin-top: 150px;
    }
}