@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Fredoka+One&display=swap');

.project-wrapper
{
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: top;
}

.project-txt-wrap
{
    display: flex;
    justify-content: center;
    align-items: top;
    position: absolute;

    width:100%;
    margin-top: 150px;

}

.project-txt
{
    font-family: 'Fredoka One', cursive;
    font-size: 100px;
    color:#0F5298;
    justify-content: center;
    text-align: center;
    
    position: absolute;

    position:absolute;
    justify-content: center;
    bottom:0;
}



@media only screen and (max-width: 574px) 
{
    .project-txt
    {
        font-size: 60px;
    }
    .project-txt-wrap
    {
        margin-top: 125px;
    }
    
}


